{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <h4 class="page-title">Dashboard</h4>

    <div class="row">

        <!-- Card for Total Missing Cases -->
        <div class="col-md-3">
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="la la-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Total Missing Cases</p>
                                <h4 class="card-title">{{ total_missing_cases }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional cards can go here -->
    </div>
</div>
{% endblock %}
